                                                         /* zone1 */
.zone1 {
    height: 500px;
    background-image: url(img/fond1.jpg);
}

                                                        /* wrapper */
.wrapper{
    position: absolute;
    margin-top: 250px;
    transform: translateY(-50%);
    width:100%;
    padding: 0 20px;
}
                                                        /* container */

.container-contact form{
    max-width: 700px;
    height: 450px;
    margin: 0 auto;
    background-color:rgba(13, 44, 73, 0.8);
    padding: 30px;
    border-radius:5px;
    box-shadow: 0 0 10px;
}

.container-contact input{
    width:48%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border:0;
}
       

::-webkit-input-placeholder{
    color: gray;
}

::-moz-input-placeholder{
    color:gray;
}
:-ms-input-placeholder{
    color: gray;
}

.bouton{
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    background-color: #17888b;
    color:white;
    border: 1px solid transparent;
    border-radius: 5px;
    
}
.bouton:hover{
    background: #12c4ca;
    color:white;
    cursor: pointer;
}


                                                          /* code Footer: zone */
.footer1{
    text-align: center;
    margin: auto;
    background-color: rgb(32, 32, 32);
}

.footer1 div{
    display: inline-block;
    vertical-align: top;
    
}

                                                         /* container tailles */
.container1{
    width:430px;
    height: auto;
    margin-top: 20px;
}
.container2{
    width:430px;
    height: auto;
    margin-top: 20px;
}
.container3{
    width:430px;
    height: auto;
    margin-top: 20px;
}
                                                        /* titre global */
                                                  /* Tout les section:titre */
.footer1 h2 {
    color: white;
    font-family: lato;
}

                                                        /* container: about */
                                                    /* Code section 1: about*/

                                                              /* titre  */
.footer1 .container1 .about h2 span{
    color: lime;
}
                                                            /* paragraphe */
.footer1 .container1 .about p{
    font-family: lato;
    text-align: justify ;
    color: white;
}
                                                            /* coordonnées */
.footer1 .container1 .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    font-family: Lato;
    text-align: center;
    color: white;   
}
                                                            /* socials */
.footer1 .container1 .about .socials{
     display: block;
 }  
                                                     /* position et design des icones */
.footer1 .container1 .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 35px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    color: white;
    transition: all .3s;
    margin-top: 20px;
    text-decoration: none;
}
                                                                 /* Actions sur les icones */
.footer1 .container1 .about .socials a:hover{
    border: 1px solid lime;
    color: lime;
    transition: all .3s;

}

                                                 /* Container2: les liens */
    
                                                         /* les liens */
.footer1 .container2 .links ul a {
text-align: justify;
margin-left: 45px;
line-height: 30px;
font-family: lato;
display: block;
font-size: 1.0em;
text-decoration: none;
color: white;
list-style-type: none;
}

.footer1 .container2 .links ul a:hover{
    color: lime;
    transition: all .3s;
}

                                                        /* Container 3 : contact */
.footer1 .container3 .contact-form form{
    text-align: center;
    margin-left: 30px;
}
.footer1 .container3 .contact-form{
    width: 395px;
    height: 370px;
}

.footer1 .container3 .contact-form .contact-input{
  text-align: center;
  display: block; 
  border-radius: 5px;
  line-height: 1.5em;
  width: 300px;
  padding: .9em 1.4em;
  border: none;
}

.footer1 .container3 .contact-form textarea{
    height: 130px;
}
                                              /* bouton */
.footer1 .container3 .contact-form .btn{
    margin-right: 40px;
}
.btn{
    padding: .5rem 1rem;
    background-color: #006669;
    color:white;
    border: 1px solid transparent;
    border-radius: 5px;
    
}
.btn:hover{
    background: #048085;
    color:white
}
                                                            /* footer: bottom */
                                              
.footer2 .footer-bottom p{
    font-family: Cambria;
    color: white;
    background-color: #3d3d3d;
    width: 100%;
    height: 60px;
    text-align: center; 
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
                                                        /* code responsive */
@media only screen and (max-width:700px){
    .responsive{
        width: 50%;
        margin:6px 0;
    }
}
@media only screen and (max-width:500px){
    .responsive{
        width: 100%;
        
    }
}
